<div ng-app="atTheTeachers">
    <div ng-controller="DetailsController">
        <h4>Details</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                教师序号：
            </dt>

            <dd>
                {{teacher.TeacherId}}
            </dd>

            <dt>
                教师姓名：
            </dt>

            <dd>
                {{teacher.TeacherName}}
            </dd>

        </dl>
    </div>
</div>

<a href="#/teacher/list">返回</a>