@section scripts{
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.tablesorter.min.js"></script>
    <script src="~/Client/Scripts/ApprovalProcess/atTheApprovalProcesses.js"></script>
    <script src="~/Client/Service/approvalProcessService.js"></script>
    <script src="~/Client/Scripts/ApprovalProcess/ListController.js"></script>
    <script src="~/Client/Scripts/ApprovalProcess/EditController.js"></script>
    <script src="~/Client/Scripts/ApprovalProcess/DetailsController.js"></script>
}
<div data-ng-app="atTheApprovalProcesses">
    <div ng-view></div>
</div>

