@section scripts{
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.tablesorter.min.js"></script>
    <script src="~/Client/Scripts/ApprovalData/atTheApprovalDatas.js"></script>
    <script src="~/Client/Service/approvalDataService.js"></script>
    <script src="~/Client/Scripts/ApprovalData/ListController.js"></script>
    <script src="~/Client/Scripts/ApprovalData/EditController.js"></script>
    <script src="~/Client/Scripts/ApprovalData/DetailsController.js"></script>
<script src="~/Client/Scripts/ApprovalData/FormController.js"></script>
}
<div data-ng-app="atTheApprovalDatas">
    <div ng-view></div>
</div>

