@section scripts{
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.tablesorter.min.js"></script>
<script src="~/Client/Scripts/ClassRoom_User/atTheClassRoom_Users.js"></script>
<script src="~/Client/Service/classroom_userService.js"></script>
<script src="~/Client/Scripts/ClassRoom_User/ListController.js"></script>
<script src="~/Client/Scripts/ClassRoom_User/EditController.js"></script>
<script src="~/Client/Scripts/ClassRoom_User/DetailsController.js"></script>
}
<div data-ng-app="atTheClassRoom_Users">
    <div ng-view></div>
</div>
