@section scripts{
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.tablesorter.min.js"></script>
    <script src="~/Client/Scripts/Class/atTheClasses.js"></script>
    <script src="~/Client/Service/classService.js"></script>
    <script src="~/Client/Scripts/Class/ListController.js"></script>
    <script src="~/Client/Scripts/Class/EditController.js"></script>
    <script src="~/Client/Scripts/Class/DetailsController.js"></script>
}
<div data-ng-app="atTheClasses">
    <div ng-view></div>
</div>

