@section scripts{
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.tablesorter.min.js"></script>
    <script src="~/Client/Scripts/Course_Teacher/atTheCourse_Teachers.js"></script>
    <script src="~/Client/Service/course_teacherService.js"></script>
    <script src="~/Client/Scripts/Course_Teacher/ListController.js"></script>
    <script src="~/Client/Scripts/Course_Teacher/EditController.js"></script>
    <script src="~/Client/Scripts/Course_Teacher/DetailsController.js"></script>
    }
<div data-ng-app="atTheCourse_Teachers">
    <div ng-view></div>
</div>
