@section scripts{
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.tablesorter.min.js"></script>
    <script src="~/Client/Scripts/Course/atTheCourses.js"></script>
    <script src="~/Client/Service/courseService.js"></script>
    <script src="~/Client/Scripts/Course/ListController.js"></script>
    <script src="~/Client/Scripts/Course/EditController.js"></script>
    <script src="~/Client/Scripts/Course/DetailsController.js"></script>
}
<div data-ng-app="atTheCourses">
    <div ng-view></div>
</div>
