@section scripts{
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Client/Scripts/Home/atTheHomes.js"></script>
}
<div data-ng-app="atTheHomes">
    <div ng-view></div>
</div>