@section scripts{
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.tablesorter.min.js"></script>
<script src="~/Client/Scripts/Leave/atTheLeaves.js"></script>
<script src="~/Client/Service/leaveService.js"></script>
<script src="~/Client/Scripts/Leave/ListController.js"></script>
<script src="~/Client/Scripts/Leave/EditController.js"></script>
<script src="~/Client/Scripts/Leave/DetailsController.js"></script>
}
<div data-ng-app="atTheLeaves">
    <div ng-view></div>
</div>