@section scripts{
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.tablesorter.min.js"></script>
    <script src="~/Client/Scripts/Major/atTheMajors.js"></script>
    <script src="~/Client/Service/majorService.js"></script>
    <script src="~/Client/Scripts/Major/ListController.js"></script>
    <script src="~/Client/Scripts/Major/EditController.js"></script>
    <script src="~/Client/Scripts/Major/DetailsController.js"></script>
}
<div data-ng-app="atTheMajors">
    <div ng-view></div>
</div>
