@section scripts{
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.tablesorter.min.js"></script>
    <script src="~/Client/Scripts/Menu/atTheMenus.js"></script>
    <script src="~/Client/Service/menuService.js"></script>
    <script src="~/Client/Scripts/Menu/ListController.js"></script>
    <script src="~/Client/Scripts/Menu/EditController.js"></script>
    <script src="~/Client/Scripts/Menu/DetailsController.js"></script>
}
<div data-ng-app="atTheMenus">
    <div ng-view></div>
</div>

