@section scripts{
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.tablesorter.min.js"></script>
    <script src="~/Client/Scripts/Role/atTheRoles.js"></script>
    <script src="~/Client/Service/roleService.js"></script>
    <script src="~/Client/Scripts/Role/ListController.js"></script>
    <script src="~/Client/Scripts/Role/EditController.js"></script>
    <script src="~/Client/Scripts/Role/DetailsController.js"></script>
}
<div data-ng-app="atTheRoles">
    <div ng-view></div>
</div>