@section scripts{
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.tablesorter.min.js"></script>
    <script src="~/Client/Scripts/Role_Menu/atTheRole_Menus.js"></script>
    <script src="~/Client/Service/role_menuService.js"></script>
    <script src="~/Client/Scripts/Role_Menu/ListController.js"></script>
    <script src="~/Client/Scripts/Role_Menu/EditController.js"></script>
    <script src="~/Client/Scripts/Role_Menu/DetailsController.js"></script>
}
<div data-ng-app="atTheRole_Menus">
    <div ng-view></div>
</div>
