@section scripts{
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/angular.min.js"></script>
<script src="~/Scripts/angular-route.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery.tablesorter.min.js"></script> 
<script src="~/Client/Scripts/Score/atTheScores.js"></script> 
<script src="~/Client/Service/scoreService.js"></script>
<script src="~/Client/Scripts/Score/ListController.js"></script>
<script src="~/Client/Scripts/Score/EditController.js"></script>
<script src="~/Client/Scripts/Score/DetailsController.js"></script>
    }
<div data-ng-app="atTheScores">
    <div ng-view></div>
</div>