@section scripts{
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.tablesorter.min.js"></script>
    <script src="~/Client/Scripts/Student/atTheStudents.js"></script>
    <script src="~/Client/Service/studentService.js"></script>
    <script src="~/Client/Scripts/Student/ListController.js"></script>
    <script src="~/Client/Scripts/Student/EditController.js"></script>
    <script src="~/Client/Scripts/Student/DetailsController.js"></script>
}
<div data-ng-app="atTheStudents">
    <div ng-view></div>
</div>
