@section scripts{
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.tablesorter.min.js"></script>
    <script src="~/Client/Scripts/Teacher/atTheTeachers.js"></script>
    <script src="~/Client/Service/teacherService.js"></script>
    <script src="~/Client/Scripts/Teacher/ListController.js"></script>
    <script src="~/Client/Scripts/Teacher/EditController.js"></script>
    <script src="~/Client/Scripts/Teacher/DetailsController.js"></script>
}
<div data-ng-app="atTheTeachers">
    <div ng-view></div>
</div>

