@section scripts{
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/angular.min.js"></script>
<script src="~/Scripts/angular-route.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery.tablesorter.min.js"></script>
<script src="~/Client/Scripts/User/atTheUsers.js"></script>
<script src="~/Client/Service/userService.js"></script>
<script src="~/Client/Scripts/User/ListController.js"></script>
<script src="~/Client/Scripts/User/EditController.js"></script>
<script src="~/Client/Scripts/User/DetailsController.js"></script>
<script src="~/Client/Scripts/User/InfoController.js"></script>
}
<div data-ng-app="atTheUsers">
    <div ng-view></div>
</div>

