@section scripts{
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.tablesorter.min.js"></script>
    <script src="~/Client/Scripts/User_Role/atTheUser_Roles.js"></script>
    <script src="~/Client/Service/user_roleService.js"></script>
    <script src="~/Client/Scripts/User_Role/ListController.js"></script>
    <script src="~/Client/Scripts/User_Role/EditController.js"></script>
    <script src="~/Client/Scripts/User_Role/DetailsController.js"></script>
}
<div data-ng-app="atTheUser_Roles">
    <div ng-view></div>
</div>
